go 1.22.0

use (
	./animal-magic
	./annalyns-infiltration
	./bird-watcher
	./blackjack
	./booking-up-for-beauty
	./card-tricks
	./cars-assemble
	./hamming
	./hello-world
	./interest-is-interesting
	./lasagna
	./lasagna-master
	./need-for-speed
	./pangram
	./party-robot
	./vehicle-purchase
	./weather-forecast
	./welcome-to-tech-palace
)
